.wrapper {
  max-width: 1035px;
  width: 100%;
  padding: 75px 93px;
  position: absolute;
  top: 80px;
  background-color: var(--forest-green);
  border-radius: 15px;
  transition: all 0.3s;
  opacity: 0;
  z-index: -50;
  pointer-events: none;
  overflow-y: auto;

  &.menuActive {
    opacity: 1;
    z-index: 50;
    pointer-events: initial;
    top: 100px;

    &:before {
      position: absolute;
      content: '';
      top: -34px;
      left: 0;
      width: 146px;
      background-color: var(--forest-green);
      height: 53px;
      transition: all 0.3s;
    }
  }
}

.tabs {
  margin-bottom: 54px;
  display: flex;
  gap: 42px;
  font-family: var(--font-mont);
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;

  & .tab:first-child::after {
    content: '/';
    display: inline-block;
    transform: translateX(21px);
    color: var(--white);
    font-weight: 300;
  }
}

.tab {
  transition: all 0.3s;
  cursor: pointer;
}

.tabActive {
  font-weight: 600;
  color: var(--golden-sand);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.mobileBtn {
  width: 54px;
  height: 54px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--golden-sand);
  border-radius: 100%;
  position: absolute;
  top: 26px;
  right: 26px;
}

.title {
  display: none;
  margin-bottom: 24px;
  font-size: 34px !important;
  line-height: 43px !important;
}

.ulWrapper {
  display: flex;
  gap: 95px;
}

.ul {
  max-height: 520px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-mont);
  width: 40%;
  width: 40%;

  &:last-child {
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
      background-color: var(--cloud-gray);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--medium-gray);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.category {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  height: 20px;
  height: 20px;

  &:hover {
    color: var(--light-green);
  }

  &.active {
    opacity: 1;
    font-weight: 700;

    &:hover {
      color: var(--white);
    }

    .icon {
      opacity: 1;
    }
  }
}

.icon {
  position: absolute;
  right: -46px;
  top: 2px;
  opacity: 0;
}

.categoryLink {
  position: absolute;
  width: fit-content;
  left: 0;
}

.categoryLink {
  position: absolute;
  width: fit-content;
  left: 0;
}

.typeName {
  max-width: 340px;
  padding-right: 12px;

  &:hover {
    color: var(--light-green);
  }
}

.mobileUlWrapper,
.backBtn {
  display: none;
}

@media (max-width: 1220px) {
  .wrapper {
    max-width: 100%;
    padding: 84px 39px;
    position: fixed;
    inset: 0 !important;
    border-radius: 0;

    &.menuActive {
      z-index: 200;
    }
  }

  .mobileBtn,
  .title {
    display: flex;
  }
}

@media (max-width: 768px) {
  .tabs {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 21px;
  }

  .typeName {
    max-width: 100%;
  }

  .category {
    width: fit-content;
    opacity: 1;
    width: 100%;

    &.active {
      font-weight: 400;
    }
  }

  .ul {
    max-height: initial;
    gap: 14px;
    width: 100%;

    &:last-child {
      overflow-y: initial;
    }
  }

  .ulWrapper,
  .icon {
    display: none;
  }

  .mobileUlWrapper {
    display: block;
  }

  .backBtn {
    display: block;
    margin-bottom: 35px;
    transform: rotate(180deg);
  }
}