.section {
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url('/images/automation-and-electronics-bg.webp');
  background-size: cover;
}

.title {
  max-width: 365px;
}

@media (max-width: 1024px) {
  .section {
    background-position: calc(50% - -224px) center;
  }
}

@media (max-width: 768px) {
  .section {
    height: 436px;
    padding-bottom: 74px;
    align-items: end;
  }
}
