.wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 200px;
  margin-bottom: 80px;

  @media (max-width:1320px) {
    gap: 0;
  }
}

.pagination {
  display: flex;
  width: calc(100% - 220px - 50px);
  // max-width: 300px;
  // min-width: 300px;
  margin-left: 270px;
  overflow: hidden;
  float: left;

  @media (max-width:1320px) {
    align-items: center;
    justify-content: center;
    float: none;
    margin: 0 auto;
    min-width: 350px;
  }


}

.pag_btn {
  font-family: var(--font-onset);
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  color: var(--black);
  border-radius: 900px;
  min-width: 53px;
  max-width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);

  }
}

.active {
  border: 1px solid rgba(0, 0, 0, 0.5);

}

.pag_wrap {
  max-width: 225px;
  position: relative;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prodPerPage {

  display: flex;
  align-items: center;
  font-family: var(--font-onset);
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  color: var(--black);
  gap: 10px;
  float: right;
  width: 25%;

  .span {
    color: #bfbfbf;
    cursor: pointer;

    &:hover {
      color: var(--black);

    }
  }

  @media (max-width:768px) {
    display: none;
  }

}

.active_span {
  color: var(--black) !important;
}