.wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 200px;
  margin-bottom: 80px;

}

.pagination {
  display: flex;
  width: calc(100% - 220px - 50px);
  max-width: 300px;
  min-width: 300px;
  margin-left: 270px;
  overflow: hidden;
  float: left;
}

.pag_btn {
  font-family: var(--font-onset);
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  color: var(--black);
  // border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 900px;
  min-width: 53px;
  max-width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);

  }
}

.active {
  border: 1px solid rgba(0, 0, 0, 0.5);

}

.pag_wrap {
  max-width: 225px;
  position: relative;
}

