.swiper {
  overflow: visible;

  &-slide {
    transition: all 0.3s;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {

  background: url('./arrow-left-short.png') no-repeat center;
  background-color: transparent !important;
  border-radius: 100%;
  margin-left: 55px;
  left: initial;
}

.swiper-button-next {
  transform: rotate(180deg);
  margin-right: -156px;

}

.swiper-wrapper {
  max-width: 220px;
}


.swiper-slide {
  width: initial;

}

.swiper {
  margin-left: -60px;
}

@media (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    // display: none;
  }

  .swiper {
    overflow: hidden;
    padding: 0 16px;
    margin-left: 0;
    margin-right: 0;
 
  }
  .swiper-button-prev {
    margin-left: 0;
  }
  .swiper-button-next{
    margin-right: 0;
  }
}