.wrapper {
  max-width: 275px;
  width: 100%;
  padding-top: 10px;
}

.top {
  margin-bottom: 35px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.title {
  font-size: 35px;
  line-height: 35px;
  white-space: nowrap;
}

.items {
  font-size: 16px;
  color: var(--black);
  opacity: 0.5;
  font-weight: 300;
}

.count {
  margin-right: 5px;
}

.label {
  margin-bottom: 7px;
  padding: 23px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s;

  &.error {
    border: 1px solid var(--dark-red);
  }
}

.span {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.labelWrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  max-width: 240px;
  margin: 18px 0 25px;
}

.recaptchaWrapper {
  transform: scale(0.9);
  transform-origin: 0 50%;

  iframe {
    border: 1px solid transparent;
    transition: all 0.3s;
  }

  &.error {
    iframe {
      border: 1px solid var(--dark-red);
    }
  }
}

.btn {
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .wrapper,
  .checkbox {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .top {
    justify-content: center;
  }

  .title {
    font-size: 32px;
    line-height: 32px;
  }

  .span {
    transform: translateY(1px);
    font-size: 20px;
  }

  .input {
    font-size: 14px;
  }

  .label {
    padding: 34px 30px;
    border-radius: 13px;
  }

  .labelWrapper {
    margin-bottom: 12px;
  }

  .checkbox {
    margin-top: 25px;
  }

  .checkboxText {
    font-size: 16px;
  }

  .recaptchaWrapper {
    transform: scale(1);
    transform-origin: initial;
  }
}
