.wrapper {
  margin-bottom: 47px;
  display: flex;
  align-items: center;
  gap: 26px;
  color: var(--black);
}

.tabs {
  display: flex;
  gap: 20px;
  font-family: var(--font-mont);
  font-weight: 300;
}

.tab {
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer;
}

.active {
  font-weight: 600;
  color: var(--golden-sand);
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 35px;
  }
}
