.wrapper {
  margin: 62px 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 36px;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
}

.left,
.right {
  max-width: 590px;
  width: 100%;
}

.leftText {
  margin: 20px 0 38px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.li {
  opacity: 0.5;
}

.rightText {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .wrapper {
    margin-top: 30px;
    flex-direction: column;
    gap: 25px;
  }

  .left,
  .right {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 60px;
    gap: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .left,
  .right {
    gap: 15px;
  }
}
