.wrapper {
  height: 200px;
  padding: 26px 57px;
  display: flex;
  gap: 70px;
  border-radius: 10px;
  background-color: var(--white);
  position: relative;
}

.img {
  width: auto;
  height: 146px;
  position: relative;
}

.content {
  max-width: 305px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.manufacturers {
  font-size: 11px;
  line-height: 14px;
  color: var(--ash-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  max-width: 220px;
  margin-top: 7px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 14px;
  line-height: 18px;
  color: var(--smoke-gray);
}

.btnsWrapper {
  display: flex;
  align-items: center;

  .btn:first-child {
    padding-right: 5px;
  }

  .btn:last-child {
    padding-left: 5px;
    transform: translateY(1px);
  }
}

.btn {
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: var(--black);

  &:hover {
    color: var(--golden-sand);
  }
}

.quantity {
  min-width: 11px;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
}

.trash {
  position: absolute;
  top: 18px;
  right: 23px;
  cursor: pointer;
}

@media (max-width: 1224px) {
  .wrapper {
    gap: 30px;
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 26px 20px 26px 27px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 134px;
    padding: 32px 26px 16px 36px;
  }

  .img {
    height: 61px;
    margin-top: 10px;
  }

  .content {
    padding-top: 0;
  }

  .manufacturers,
  .price {
    font-size: 9px;
    line-height: 11px;
  }

  .title {
    font-size: 13px;
    line-height: 16px;
  }

  .trash {
    top: 14px;
    right: 14px;
  }
}
