.aside {
  height: calc(100% - 880px);
  position: absolute;
  top: 210px;
  color: var(--graphite-gray);
  font-family: var(--font-mont);
  font-size: 12px;
  line-height: 15px;
  max-width: 250px;
  min-width: 250px;
}

.li {
  margin-bottom: 16px;
  // padding-left: 130px;
  padding-left: 35px;
  position: relative;
  text-align: end;

  &::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--soft-gray);
  }

  &.whiteLi {
    color: var(--white);
  }
}

.link {
  opacity: 0.7;
  text-wrap: wrap;
  word-break: keep-all;
}

.active {
  opacity: 1;
}

.wrapper {
  position: absolute;
  top: 72%;
  left: 90px;
  z-index: 100;
}

.btn {
  margin-bottom: 10px;
}

@media (max-width: 1860px) {
  .li {
    padding-left: 10px;
  }

  .wrapper {
    left: 30px;
  }
}

@media (max-width: 1716px) {
  .wrapper {
    display: none;
  }
}

@media (max-width: 1632px) {
  .aside {
    max-width: calc(250px - 102px);
    min-width: calc(250px - 120px);
  }
}

@media (max-width: 1570px) {
  .aside {
    display: none;
  }
}