.details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 40px;
  position: relative;

}

.line {
  width: 100%;
  background: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -18px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 24px;
}

.art {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 14px;
  color: #6a6a6a;
}

.image_block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 25px;
}

.point_title {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  margin-bottom: 8px;
}

.point_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  &:first-of-type {
    min-width: 220px;
    max-width: 220px;
  }

  >* {
    width: 100%;
    text-align: left;
  }
}

.point_line,
.point_info {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  text-wrap: wrap;
  word-break: keep-all;
  text-align: left;
  width: 100%;
}

.point_line {
  width: 100%;
}

.price {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 26px;
  color: #655e5e;
  margin-bottom: 30px;

  span {
    font-weight: 300;
  }
}

.btn_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  margin-bottom: 50px;
}

.description {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.btn {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}
.btnIncrease {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btnCount,
.btnIncrease {
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: var(--black);
}
.btnIncrease {
  .btnCount:first-child {
    padding-right: 5px;
  }

  .btnCount:last-child {
    padding-left: 5px;
    transform: translateY(1px);
  }
}
@media (max-width:1020px) {
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .middle {
    width: 100%;
    justify-content: space-between;
  }

  .point_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    min-width: 100%;
    max-width: 100%;

    &:first-of-type {
      min-width: 100%;
      max-width: 100%;
    }

    >* {
      width: 100%;
      text-align: left;
    }

  }

  .point {
    min-width: 50%;
  }
}