.wrapper {
  display: flex;
  gap: 70px;
  margin-top: 200px;
}

.img {
  width: 100%;
  object-fit: contain;
}


@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
}