.section {
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url('/images/transmission-equipment-bg.webp');
  background-size: cover;
}

.title {
  max-width: 270px;
}

@media (max-width: 1024px) {
  .section {
    background-position: center;
  }
}

@media (max-width: 768px) {
  .section {
    height: 436px;
    padding-bottom: 74px;
    align-items: end;
  }
}
